
html{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1, h3, h4{
	font-family: cursive;
	font-weight: lighter;
}

ul {
	list-style-type: none;
}

header {
	padding-bottom: 40px;
}

header a {
	color: black;
	text-decoration: none;
}


.navbar {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-right: 2%;
}

.navbar h2{
	margin-right: auto;
	margin-left: 2%;
}

h1 {
	font-size: 3rem;
}

header p{
	padding-left: 0;
}

header h1, header p {
	text-align: center;
}

.navbar a{
	padding-left: 0;
}

span{
	margin: 1%;
}

main {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(1, 1fr);
	border: 2px, solid, black;
	
}

.projects {
	grid-row: 1 / 3;
}

.projects h3 {
	padding-left: 5%;
}

.projects ul {
	padding: 0;
	margin: 0;
}

.projects ul li {
	border-bottom: 2px solid black;
	padding: 3%;
	padding-left: 5%;
}

.projects ul li:last-child{
	border: none;
}
.work {
	grid-row: 1/2;
	border: 2px, solid, black;
	padding-bottom: 5%;
}

.work a{
	text-decoration-line: none;
}

.work h3, h4, p, a{
	padding-left: 5%
}
.work h4, .work p {
	margin: 3px;
}

.trait {
	margin: 6% 0 0 0;
	border: 1px solid black;
}
.work a {
	font-size: 0.8rem;
}

.educ {
	padding-left: 5%;
}

.educ ul{
	padding-left: 2%;
}

article {
	min-height: 350px;
}

.fade{
	color: rgb(196, 195, 195);
}
article h3 {
	margin-left: 5%;
}

article ul {
	display: flex;
	justify-content: center;
	justify-content: space-around;
	padding: 0%;
	margin: 20px;
}

article ul li {
	border: 1px solid black;
	border-radius: 20%;
	padding: 1%;
	max-width: 220px;
	margin: 20px;
	
}

article ul li p {
	margin-bottom: 20px;
}

footer {
	text-align: center;
}

.form{
	margin: auto;
	max-width: 50%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

form .name{
	grid-column: 1/2;
	grid-row: 1/2;
}

form .email{
	grid-column: 2/2;
	grid-row: 1/2;
}

form .message{
	grid-row-start: 2;
	grid-column-start: 1;
	grid-column-end: span 2;
	max-height: 170px;
}

form .btn{
	grid-row-start: 3;
	grid-column-start: 2;
}
@media only screen and (max-width : 580px){

	.navbar{
		display: block;
		text-align: center;
	}

	main {
		display: block;
	}

	article ul {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: auto;
	}
	
	article ul li {
		padding-top: 20px;
		min-width: 200px;
		border-radius: 30px;
	}

	.form{
		margin-left: 0;
	}
}